[report]
include =
    src/backend/*.py
omit =
    src/backend/manage.py
    src/backend/rpaper/__init__.py
    src/backend/rpaper/settings.py
    src/backend/rpaper/urls.py
    src/backend/rpaper/wsgi.py
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
